@model Product
<form method="post">
	<div class="form-group p-3 mt-4">
		<div class="row pb-2">
			<div class="col-6">
				<h2 class="text-primary">
					CREATE NEW PRODUCT
				</h2>
			</div>
			<div class="col-6 text-end">
				<a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
					<i class="bi bi-arrow-left-circle"></i> Back to List
				</a>
			</div>
		</div>
		<div>
			<label asp-for="Title" class="control-label text-dark">Title</label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Author" class="control-label text-dark">Author</label>
			<input asp-for="Author" class="form-control" />
			<span asp-validation-for="Author" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Description" class="form-label  text-dark mt-4"></label>
			<textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Price" class="control-label text-dark">Price</label>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Discount" class="control-label text-dark">Discount</label>
			<input asp-for="Discount" class="form-control" />
			<span asp-validation-for="Discount" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="PriceWithDiscount" class="control-label text-dark">Last Price</label>
			<input asp-for="PriceWithDiscount" class="form-control" />
			<span asp-validation-for="PriceWithDiscount" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Quantity" class="control-label text-dark">Quantity</label>
			<input asp-for="Quantity" class="form-control" />
			<span asp-validation-for="Quantity" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="SelectedCategories" class="form-label text-dark mt-4">Categories</label>
			<select class="form-select" asp-for="SelectedCategories" asp-items="Model.Categories"
			data-placeholder="Select Categories">
				<option></option>
			</select>
			<span asp-validation-for="SelectedCategories" class="text-danger"></span>
		</div>

	</div>
	<div class="form-group mb-3">
		<input type="submit" value="Create" class="btn btn-outline-primary m-lg-3" />
	</div>
</form>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}