@model Category
<form method="post">
	<div class="form-group p-3 mt-4">
		<div class="row pb-2">
			<div class="col-6">
				<h2 class="text-primary">
					CREATE NEW CATEGORY
				</h2>
			</div>
			<div class="col-6 text-end">
				<a class="btn btn-outline-primary" asp-controller="Category" asp-action="Index">
					<i class="bi bi-arrow-left-circle"></i> Back to List
				</a>
			</div>
		</div>
			<div>
					<label asp-for="Name" class="control-label">Category Name</label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		
	</div>
	<div class="form-group mb-3">
		<input type="submit" value="Create" class="btn btn-outline-primary m-lg-3" />
	</div>
</form>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}